.sregisterMainDiv {
  /* border: 2px solid red; */
  align-items: center;
}

.sregisterTile {
  width: 18em;
}

.sregisterCard {
  padding: 1em 2em;
  width: 19em;
  /* border: 1px solid blue; */
}

/* tab */
@media (min-width: 40rem) {
  .sregisterTile {
    width: 20em;
  }
  .sregisterCard {
    width: 20em;
  }
}

/*lap */
@media (min-width: 80rem) {
  .sregisterTile {
    width: 32em;
  }
  .sregisterCard {
    width: 25em;
  }
}
