.login_main_div {
  margin-top: 2em;
  /* border: 1px solid slateblue; */
  align-items: center;
}

.login_tile {
  width: 32em;
}

.login_input_div {
  align-items: center;
  /* height: 20em; */
}

/* tab */
@media (min-width: 40rem) {
  .login_main_div {
    margin-top: 1em;
  }
}

/*lap */
@media (min-width: 80rem) {
  .login_main_div {
    margin-top: 2em;
  }
}
