.registerMainDiv {
  /* border: 2px solid red; */
  align-items: center;
}

.registerTile {
  width: 18em;
}

/* tab */
@media (min-width: 40rem) {
  .registerTile {
    width: 20em;
  }
}

/*lap */
@media (min-width: 80rem) {
  .registerTile {
    width: 32em;
  }
}
